.header_templates{
    display: flex;
    justify-content: space-around;
     background-color: black; 
     color: white;
     align-items: center;
     font-size: 20px;
}
/* .header h1{
    position: absolute;
    left: 80%;
    top:-5px;
    text-align: center;
} */
.header_templates span{
    color:blue;
    font-family: 'Times New Roman', Times, serif;

}
.listitem_templates ul{
    display: flex;
    
} 
.listitem_templates ul li{
    list-style: none;
    padding:0 20px;
    font-size: 10px;
} 
.listitem_templates {
    display:flex;
    justify-content: flex-end;
    right:89px;
}

