 *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
 }
 .template-section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
}
.template-section h4{
    font-size: 20px;
    text-align: center;
    padding: 1%;
}
.tab-section{
     display: flex;
    left:50px;
    font-size: 12px;   
}

.tab-section h5{
    font-weight: lighter;
    font-size: 16px;
}
.btn-template{
    margin-top: 8px;
    padding:10px 30px ;
    border:1px solid black;
    font-size: bold;
    
}
.last-footer{
     border:1px solid black; 
    padding:60px 80px;
     background-color: black; 
    color: white;
    
    
}
.last-footer h1{
    padding:2%;
}
.btn-footer{
    padding:15px 15px;
    margin-top: 20px;
    width:30%;
    font-size:20px;
    font-weight: bold;
    background-color: black;
    color:white;
    box-shadow:10px 10px 5px darkblue;
}
@media only screen and (max-width:768px){
    .tab-section{
        display:flex;
        flex-direction: column;
    }
    .btn-footer{
        width:100%;

    }
}